body{
    padding: 0;
    margin: 0;
    border: 0;
}




#navbar {
    position: fixed;
    top: 25%;
    left: 0;
    width: 64px;
    height: 500px;
    background-color: red;
}

#mainpage {
    background-color: white;
    margin: 0 auto;
    height: 500px;
    max-width: 1000px;
}
#search{
    margin: 0 auto;
    width: 320;
    height: 32px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


#wrapper {
    width: 100%;
    display: inline-flex;
}
#article {
    background-color: grey;
    flex:3;
}

#sidebar{
    flex:1;
    background-color:blue;
}
#test{
    width: 320;
    margin: 0 auto;
    height: 400px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}