body{
    padding: 0;
    margin: 0;
    border: 0;
}

#wrapper { width: 100%; display: inline-flex; } /*가로정렬용 태그를 감싸주는 부모태그*/
#article { flex:5; } /*가로정렬용 태그 1*/
#sidebar { flex:2; } /*가로정렬용 태그 2*/


#navbar {
    position: fixed;
    top: 25%;
    left: 0;
    width: 64px;
    height: 400px;
    background-color: rgb(200, 220, 240);
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

#mainpage {
    /*background-color: rgb(240,240,240);*/
    margin: 0 auto;
    max-width: 800px;
}
#search{
    margin: 30 auto 10 auto;
    width: 360px;
    height: 32px;
    background-color: rgb(200,220,240);
    border-radius: 32px;
}

#test{
    width: 360px;
    margin: 10 auto;
    height: 400px;
    background-color: rgb(200,220,240);
    border-radius: 32px;
}

li{
    border: 1px solid rgb(200,220,240);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}